.map_wrap, .introduce, .business {
    width: 1200px;
    margin: auto;
    position: relative;
    margin-bottom: 100px;
}

/** first section **/
.sub_top {
    height: 196px;
    background-image: url(../img/sub/sec1/sub_bg348.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.top_wrap {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 10;
    text-align: center;
    box-sizing: border-box;
}

.top_wrap::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.8);
}

.inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.sub_nav {
    width: 83.333333%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: left;
}

.sub_nav li {
    position: relative;
    line-height: 39px;
    box-sizing: border-box;
    text-align: center;
    width: 25%;
}

.sub_nav li:last-of-type::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(255,255,255,.6);
}

.sub_nav a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
}

.sub_nav a::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.6);
}

.sub_nav a::after {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 7px;
    top: 17px;
    right: 5.622489%;
    background-repeat: no-repeat;
    background-image: url(../img/sub/sec1/icn_tri_down.png);
    background-size: cover;
}

.util {
    display: flex;
    width: 16.666667%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.util li {
    width: 60px;
    height: 100%;
    margin-right: 10px;
}

.util a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.print a {
    background-image: url(../img/sub/sec1/icn_print.png);
}

.share a {
    background-image: url(../img/sub/sec1/icn_sns.png);
}

.sub_top h2 {
    display: block;
    position: absolute;
    line-height: 1;
    top: calc(50% - 8px);
    left: 50%;
    font-size: 30px;
    color: #ffc000;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.sub_nav2 {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 53px;
    bottom: -103px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.7);
    font-size: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.sub_nav2 li {
    width: 14.2857%;
    position: relative;
    height: 100%;
    line-height: 53px;
    text-align: center;
}

.sub_nav2 li.active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #ffc000;
}

.sub_nav2 a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 15px;
}


/** second section **/
.introduce {
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 40px;
    color: #000;
    position: relative;
    line-height: 1;
    font-weight: 400;
    margin-top: 60px;
}

.title span {
    background: #ffc000;
    display: block;
    position: absolute;
    content: '';
    bottom: 74px;
    width: 95%;
    height: 14px;
    z-index: -1;
    left: 50%;
    transform: translate(-50%,0);
}

.title::after {
    display: block;
    content: '';
    width: 1px;
    height: 30px;
    background: #000;
    margin: 20px auto;
}

.intro {
    background-color: #f6f6f6;
    display: flex;
}

.intro_img {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.intro_img img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

.intro_txt {
    font-size: 1rem;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    color: #3b3b3b;
    padding: 41px 50px;
    box-sizing: border-box;
}

.intro_txt p {
    padding-bottom: 30px;
    line-height: 30px;
}


/** third section **/
.sec_title {
    text-align: left;
    border-left: 5px solid #ffc000;
    padding-left: 14px;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    margin: 0 auto 25px;
    max-width: 1200px;
}

.sec_title ul {
    color: #000;
}

.sec_title li {
    
}





/**  **/
.map {
    width: 1200px;
    height: 600px;
}

.map>iframe {
    width: 100%;
    height: 100%;
}